body {
    background-image: url(../imgaes/background.jpg);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-x: center;
}
form {
    background-color: aliceblue;
    width: fit-content;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    float: center;
    margin-left: 37%;
}
p{
    display: inline;
    width: fit-content;
    padding-left: 10px;
    font-size: large;
}